@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

body{
    margin: 0;
    padding: 0;
}

p, span, li{
    font-family: "Roboto Serif", serif;
}

.pointer{
    cursor: pointer;
}

/* header section */
header{
    width: 100vw;
    height: 25vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: #000000;
    color: #ffffff;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

header a:hover{
    color: goldenrod;
}

#logo{
    font-size: 4em;
    font-weight: 900;
    padding-left: 1em;
}

.header-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right{    
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}

.header-right ul{
    list-style-type: none;
    padding-right: 2em;
}

.header-right ul li{
    display: inline;
    margin-right: 0.5em;
}

/* about section */

#about, #projects{
    max-width: 100%;
    height: 75vh;

    color: black;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about{
    padding-top: 25vh;
}

#about-text, #about-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-text{
    padding-left: 4em;
}

.title{
    font-size: 2em;
}

.text{
    font-size: 1em;
}

#about-pic img{
    border-radius: 360px;
    border: 2.5px solid black;
    scale: 1.5;
}

#projects{
    background-color: goldenrod;

    display: grid;
    grid-template-columns: 1fr;

    text-align: center;
}

#first-project{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5em;
}

footer{
    

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    background-color: black;
    color: white;
}
#socials a{
    text-decoration: none;
    color: white;
}

#socials{
    height: 100%;
    width: 25%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    padding-top: .75em;
}



#socials a:hover{
    scale: 1.1;
}

/* mobile */
@media (max-width:600px){
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    height: 30vh;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    font-size: 3em;
    padding: 0;
}

.header-right ul{
    font-size: 1.25em;
    padding: 0;
}

#about{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
}

#about-text{
    order: 2;
    text-align: center;
    padding: 0 0.5em 0 0.5em;
}

#about-pic{
    order: 1;
    padding-top: 5em;
}

#projects{
    height: 70vh;
    text-align: center;

    font-size: 12px;
}

#socials{
    width: 50%;
}
}